target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

\.metadata/

RemoteSystemsTempFiles/\.project

springmvc-hibernate/\.springBeans

*.prefs

*.component

springmvc-hibernate/\.project

springmvc-hibernate/\.classpath

springmvc-hibernate/\.settings/

Servers/
