<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}][%r][%level][%logger{36}] - %msg%n" />
        </Console>
    </appenders>

    <loggers>

        <!-- On root Error log -->
        <root level="error" additivity="false" >
            <appender-ref ref="Console" />
        </root>

        <!-- Spring And Apache logs -->
        <logger name="org.springframework" level="warn" additivity="false" >
            <appender-ref ref="Console" />
        </logger>

        <logger name="org.apache.http" level="warn" additivity="false" >
            <appender-ref ref="Console" />
        </logger>


        <!-- All packages -->
        <logger name="com.jonghan.spring" level="debug" additivity="false" >
            <appender-ref ref="Console" />
        </logger>

        <!-- Log everything in hibernate -->
        <Logger name="org.hibernate" level="debug" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <!-- Log SQL statements -->
        <Logger name="org.hibernate.SQL" level="debug" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <!-- Log JDBC bind parameters -->
        <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

    </loggers>
</configuration>

